.container {
    width: 100%;
}
.mynav{
	background-color: #1e8cbe;
    border-bottom: 1px solid #0079aa;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    text-align: left;
    margin: 0px;
}

.mynav a{
	color: #ffffff;
    height: auto;
    width: auto;
    background: none;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    overflow: auto;
    text-indent: 0;
    display: inline-block;
    line-height: 46px;
    padding: 0 12px;
    letter-spacing: -0.5px;
}
.nav>li>a:hover {
    background-color: #00aadc;
} 

.nav>li>a:focus {
    background-color: #005082;
}
.from-top{
	 margin-top: 52px;
}

.nav .open>a{
    background-color: #00aadc;
}

.nav .open>a:hover{
    background-color: #005082;
}

 .nav .open>a:focus {
    background-color: #005082;
}
.left-nav
{
    border: 1px solid #D9E3EA;
    padding-right:0px;
	padding-left:0px;
}
.left-nav .panel
{
    border: 0px;
}
.mycontent{
	padding:50px;
}
.mytable{
   margin: 40px;
}
.mypage{
    float: right;
}
.myblog{
    padding-right: 50px;
}
